{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "UseDevelopmentStorage=true",
        "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
        "AzureWebJobsSecretStorageType": "files"
    },
    "BlobStorage": {
        "Uri": "https://sttestassignment001.blob.core.windows.net/",
        "DestinationContainer": "images",
        "MaxFileSizeInBytes": 104857600,
        "AllowedContentTypes": ["image/bmp", "image/png", "image/jpeg"]
    }
}