{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "UseDevelopmentStorage=true",
        "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
        "AzureWebJobsSecretStorageType": "files"
    },
    "BlobStorage": {
        "ConnectionString": "--SECRET--",
        "DestinationContainer": "images",
        "MaxFileSizeInBytes": 104857600,
        "AllowedContentTypes": ["image/gif", "image/png", "image/jpeg"]
    }
}